.fondoBody{
    background-color: rgb(210, 245, 245);
    
    .academia{
        display: flex;
        flex-direction: column;
        margin:5rem auto 3rem;
    
        .academia__titulo{
            color:rgb(30, 89, 179);
            text-align: center;
            margin: 2rem 0;
            padding: 1.3rem;
            font-size: 4rem;

            @media(max-width:1024px) and (min-width:768px){
                &{
                    font-size: 3.5rem;
                }
            }
            @media(max-width:768px) and (min-width:550px){
                &{
                    font-size: 3rem;
                }
            }
            @media(max-width:550px){
                &{
                    font-size: 2.5rem;
                }
            }
        }
    
        .academia__texto{
            text-align: center;
            font-size: 2.5rem;
            font-weight: 500;
            padding: 2rem;

            @media(max-width:1024px) and (min-width:768px){
                &{
                    font-size: 2.3rem;
                }
            }
            @media(max-width:768px) and (min-width:550px){
                &{
                    font-size: 2rem;
                }
            }
            @media(max-width:550px){
                &{
                    font-size: 1.8rem;
                }
            }
        }
    }
    
    .carrusel{
        width: 70vw;
        margin: 3rem auto;

        @media(max-width:1024px) and (min-width:768px){
            &{
                width: 80vw;
            }
        }
        @media(max-width:768px) and (min-width:550px){
            &{
                width: 85vw;
            }
        }
        @media(max-width:550px){
            &{
                width: 90vw;
            }
        }    
    
        .carrusel__imagen{
            width: 100%;    
        }
    
        .carrusel__texto{
            font-size: 4rem;
            color: #f1f1f1;
            background-color: rgba(95, 158, 160, 0.363);
            width: auto;

            @media(max-width:1024px) and (min-width:768px){
                &{
                    font-size: 3.5rem;
                }
            }
            @media(max-width:768px) and (min-width:550px){
                &{
                    font-size: 2.5rem;
                }
            }
            @media(max-width:550px){
                &{
                    font-size: 2rem;
                }
            }
        }
    }
    
    .terminosCripto {
        color: rgb(30, 89, 179);
        margin: 5rem auto 3rem;
        padding: 2rem;
        text-align: center;
    }
    
    .conceptos {
        background-color: rgb(174, 235, 250);
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        box-shadow: 0px 0px 20px 0px rgba(252, 2, 2, 0.4);
        width: 90%;
        margin:auto;

        @media(max-width:1024px) and (min-width:768px){
            &{
                grid-template-columns: repeat(2, 320px);
                grid-template-rows: repeat(2, 1200px);
                justify-content: space-evenly;
            }
        }
        @media(max-width:768px) and (min-width:550px){
            &{
                grid-template-columns: repeat(2, 320px);
                grid-template-rows: repeat(2, 1200px);
                justify-content: space-around;
            }
        }
        @media(max-width:550px){
            &{
                grid-template-columns: 320px;
                grid-template-rows: (900px, 1000px, 1500px, 800px);
                justify-content: space-around;
            }
        }    
    
        .container{
            display:flex;
            flex-direction: column;
            margin:1rem auto;
    
            .conceptos__titulo{
                text-align: center;
                align-items: center;
            }
            .conceptos__imagen{
                width: 280px;
                height: 168px;
                margin:1rem;
                padding:1rem;
            }
            .conceptos__texto{
                font-size: 1.4rem;
                color:black;
                letter-spacing: 0;
                width: 300px;
                text-align: justify;
                align-items: center;
                padding:1rem;
            }
        }
    }
}



