.bannerInversion{
    width: 100vw;
    height: 120vh;
    background-image: url('../imagenes/arbolcriptocomp.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width:1024px) and (min-width:768px){
        &{
            width: 100vw;
            height: 100vh;
        }
    }
    @media(max-width:768px) and (min-width:550px){
        &{
            width: 100vw;
            height: 80vh;
        }
    }
    @media(max-width:550px){
        &{
            width: 100vw;
            height: 60vh;
        }
    }
    @media(max-width:400px){
        &{
            width: 100vw;
            height: 50vh;
        }
    }

    .bannerInversion__titulo{
        font-size: 4rem;
        color: rgb(255,255,255);
        margin:0 2rem;
        padding: 2rem;
        text-align: center;

        @media(max-width:1024px) and (min-width:768px){
            &{
                font-size: 3.5rem;
            }
        }
        @media(max-width:768px) and (min-width:550px){
            &{
                font-size: 3rem;
            }
        }
        @media(max-width:550px){
            &{
                font-size: 2.5rem;
            }
        }
    }
}
.seccionInversion {
    display:flex;
    flex-direction: column;
    margin:6rem 2rem;
    padding:4rem 1rem;
    justify-content: space-around;
    align-items: center;
    
    .seccionInversion__titulo {
        color:rgb(9, 3, 100);
        font-size: 2.5rem;
        text-align: center;
        margin:2rem auto;

        @media(max-width:1024px) and (min-width:768px){
            &{
                font-size: 2.4rem;
            }
        }
        @media(max-width:768px) and (min-width:550px){
            &{
                font-size: 2.2rem;
            }
        }
        @media(max-width:550px){
            &{
                font-size: 2rem;
            }
        }
    }    
    .seccionInversion__texto{
        color:rgba(12, 3, 133, 0.637);
        width: 80%;
        text-align: justify;
        font-size: 2.3rem;
        margin:6rem 0;
        
        @media(max-width:1024px) and (min-width:768px){
            &{
                font-size: 2.1rem;
            }
        }
        @media(max-width:768px) and (min-width:550px){
            &{
                font-size: 1.9rem;
            }
        }
        @media(max-width:550px){
            &{
                font-size: 1.7rem;
            }
        }
    }
}

.listaInversion {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px;
    justify-content: center;
    justify-items: center;
    width:100%;
    margin:3rem auto;
    padding: 1rem;
    align-items: center;

    @media(max-width:1024px) and (min-width:768px){
        &{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 80px 80px;
            row-gap: 50px;
        }
    }
    @media(max-width:768px) and (min-width:550px){
        &{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 80px 80px;
            row-gap: 50px;
        }
    }
    @media(max-width:550px){
        &{
            grid-template-columns: 250px;
            grid-template-rows: repeat(4,80px);
            row-gap: 50px;
        }
    }
    
    .opcionInversion {
        border:double 3px rgb(41, 248, 0);
        color:rgb(197, 240, 253);
        width: 230px;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 2rem 1rem;
        background-color: tomato;
        text-align: center;
        box-shadow: 1px 1px 10px 0 rebeccapurple;

        &:hover {
            background-color:rgba(255, 99, 71, 0.842);
        }

        @media(max-width:768px) and (min-width:550px){
            &{
                width: 210px;
            }
        }
    }

    .textoInversion{
        text-align: justify;
        font-size: 1.4rem;
    }
}